<div class="card">
    {% if include.event.feature %}
    <a class="black-text" href="{{ site.url }}{{ include.event.url }}">
        <div class="card-image">
            {% assign feature_url = include.event.feature | slice: 0 %}
            {% if feature_url == "/" %}
            <img src="{{ site.url }}{{ include.event.feature }}">
            {% else %}
            <img src="{{ site.url }}/assets/img/{{ include.event.feature }}">
            {% endif %}
        </div>
        <div class="event-date">
            <span>
                {{ include.event.datetime | date: '%d/%b/%Y - %H:%M' }}
            </span>
        </div>
        {% endif %}
        <i class="event-place">{{ include.event.place }}</i>
        <div class="card-content">
            <span class="card-title">{{ include.event.title }}</span>
            {% if include.event.description %}
            <p>{{ include.event.description }}</p>
            {% else %}
            <p>{{ include.event.content | truncate:200 }}</p>
            {% endif %}
            {% if include.event.price != 0 %}
            <p>La entrada tiene un coste de ${{ include.event.price }}</p>
            {% endif %}
        </div>
    </a>
    <div class="card-action">
        <a class="blue-text" href="{{ site.url }}{{ include.event.url }}">detalles</a>
        {% if include.event.external %}
        <a class="blue-text" href="{{ include.event.external }}">eventbrite</a>
        {% endif %}
    </div>
</div>