<footer class="page-footer blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h3>Queremos escucharte</h3>
                <span>Los comentarios y las ideas son bienvenidas, dejanos un mensaje con tu
                    mail así podemos contestarte.</span>
                <br>
                <p>Encontranos en las redes:</p>
                <div class="footer-icons">
                    {% include addons/social_icons.html color="white" %}
                    <br>
                    <p>O escribinos un mail a:</p>
                    <a href="mailto:{{ site.email }}" class="white-text"><b>{{ site.email }}
                        </b></a>
                </div>
            </div>
            <div class="col m6 s12">
                {% include addons/contact_form.html %}
            </div>
        </div>
    </div>
    <div class="footer-copyright blue darken-3">
        <div class="container">
            <span class="left">
                © 2020 {{ site.title }}
            </span>
            <a class="white-text right ianmihura" href="https://ianmihura.me" target="blank">Sitio
                web: Ian Mihura</a>
        </div>
    </div>
</footer>

<script src="{{ site.url }}/assets/js/salvatore.min.js"></script>
<script src="{{ site.url }}/assets/js/main.js"></script>