<footer class="page-footer blue darken-3">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h3>Queremos escucharte</h3>
                <span>Los comentarios y las ideas son bienvenidas, dejanos un mensaje con tu
                    mail así podemos contestarte.</span>
                <br>
                <p>Encontranos en las redes:</p>
                <a href="{{ site.twitter_link }}" class="black-text"><b>Twitter, </b></a>
                <a href="{{ site.instagram_link }}" class="black-text"><b>Instagram, </b></a>
                <a href="{{ site.facebook_link }}" class="black-text"><b>Facebook </b></a>
                <br>
                <p>O escribinos un mail a:</p>
                <a href="mailto:{{ site.email }}" class="black-text"><b>{{ site.email }} </b></a>
            </div>
            <div class="col m6 s12">
                {% include addons/contact_form.html %}
            </div>
        </div>
    </div>
    <div class="footer-copyright blue darken-3">
        <div class="container">
            © 2020 {{ site.title }}
            <a class="grey-text text-lighten-4 right" href="https://ianmihura.me"
                target="blank">Sitio web: Ian Mihura</a>
        </div>
    </div>
</footer>