.footer-copyright {
    margin-top: 100px;

    @media #{$small} {
        div {
            display: grid;
            text-align: center;
        }
    }
}

.footer-icons {
    a {
        padding: 10px;
        svg {
            height: 36px;
            width: 36px !important;
        }
    }
}

.sidenav-icons {
    padding: 0 15px;
    a {
        margin-left: 15px;
        :hover {
            color: black;
        }
        svg {
            margin-top: 15px;
            height: 24px;
            width: 24px !important;
        }
    }
}

.footer {
   position: absolute;
   bottom:0;
   width:100%;
}

.page-footer {
    margin-top: 150px;
}