.banner-container {
    position: relative;
    height: 50vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(0px, 0px, 0px) scale(1, 1);
    margin-bottom: 50px;
}

.banner-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    filter: brightness(75%);

}

.banner-text {
    width: 100%;
    position: absolute;
    color: white;
    text-align: center;
    
    top: 10vh;
    @media #{$small} {
        h1 {
            font-size: 3em !important;
        }
        h4 {
            font-size: 1.5em !important;
        }
        top: 3vh;
    }
}

.ver-mas {
    @media #{$large} {
        position: absolute;
        right: 100px;
        margin-top: 100px;
        align-self: center;
        span {
            display: none;
        }
        svg {
            width: 2em !important;
            height: 2em;
        }
    }
    @media #{$notlarge} {
        span {
            display: block;
        }
        svg {
            display: none;
        }
    }
}