.brand-logo {
    img {
        position: relative;
        top: 3px;
        max-height: 50px;
        vertical-align: sub;
        padding: 10px 15px;
    }
    
    @media #{$notlarge} {
        span {
            margin: 0;
            display: none;
        }
    }
}

a:hover {
    color: rgb(85, 85, 85) !important;
}

body {
    height: 100%;
}

h1 {
    @media #{$small} {
        font-size: 3.56em;
    }
}

.collapsible-sidenav {
    margin: 0 16px !important;

    .collapsible-header {
        background-color: white;
    }
}

.container {
    img {
        max-width: 100%;
    }
}

.text-center {
    text-align: center;
}

.hidden {
    display:none !important;
}

// Custom Scrollbar
// width
::-webkit-scrollbar {
  width: 6px;
}
 
// Handle
::-webkit-scrollbar-thumb {
  background: #4b4b4b; 
  border-radius: 10px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #adadad; 
}


.cap-first {
    > p:first-of-type:first-letter {
        float: left;
        width: 0.7em;
        font-size: 350%;
        line-height: 80%;
        margin: 0  15px 0 0;
    }
}
