.brand-logo {
    img {
        max-height: 50px;
        vertical-align: sub;
        margin: 0 15px;
    }
    
    @media #{$medium} {
        span {
            margin: 0;
            display: none;
        }
    }
    @media #{$small} {
        span {
            margin: 0;
            display: none;
        }
    }
}

h1 {
    @media #{$small} {
        font-size: 3.56em;
    }
}

.collapsible-sidenav {
    margin: 0 16px !important;

    .collapsible-header {
        background-color: white;
    }
}

.page-footer {
    margin-top: 75px;
}