<!doctype html>
<html>

{% include head.html %}

<body class="black-text">
    {% include nav.html %}
    {% include sidenav.html %}
    {% include addons/social_bar.html %}

    <!-- Feed -->
    <div class="container">
        <h1>Candidatos</h1>

        {% assign candidatos_sorted = site.candidatos | sort: "order" %}
        {% for candidato in candidatos_sorted %}
        <div class="card responsive-horizontal">
            {% if candidato.photo %}
            <div class="card-image">
                <img class="miembro-image" src="{{ site.url }}/assets/img/{{ candidato.photo }}">
            </div>
            {% endif %}
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">{{ candidato.name }}</span>
                    {% if candidato.cargo %}
                    <h6><i>{{ candidato.cargo }}</i></h6>
                    {% endif %}
                    <p>{{ candidato.bio }}</p>
                </div>
                <div class="card-action">
                    {% for link in candidato.social %}
                    {% if link[0] == "mail" %}
                    <a class="blue-text" href="mailto:{{ link[1] }}">{{ link[0] }}</a>
                    {% else %}
                    <a class="blue-text" href="{{ link[1] }}">{{ link[0] }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}

        <br>
        <h4>Más Candidatos</h4>
        {{ content }}
    </div>

    <!-- Footer -->
    {% include footer.html %}
</body>

</html>