<!doctype html>
<html>

{% include head.html %}

<body class="black-text">
    {% include nav.html %}
    {% include sidenav.html %}
    {% include addons/social_bar.html %}

    {% include banner.html %}

    <div class="container">
        <!-- Featured post / campaña -->
        {% include feature.html %}

        <!-- Campaña -->
        {% if site.is_campaign %}
        <h3>Estamos de Campaña</h3>
        {% include grids/campaign_grid.html %}
        {% endif %}

        <!-- Novedades -->
        <h3>Novedades</h3>
        <a class="ver-mas" href="{{ site.url }}/novedades">
            <i class="fas fa-arrow-alt-circle-right"></i>
            <span>ver más</span>
        </a>
        {% include grids/post_grid.html limit=3 %}

        <!-- Eventos -->
        <h3>Eventos</h3>
        <a class="ver-mas" href="{{ site.url }}/eventos">
            <i class="fas fa-arrow-alt-circle-right"></i>
            <span>ver más</span>
        </a>
        {% include grids/event_grid.html limit=3 %}
    </div>

    <!-- Footer -->
    {% include footer.html %}
</body>

</html>