<!doctype html>
<html>

{% include head.html %}

<body class="black-text">
    {% include nav.html %}
    {% include sidenav.html %}
    {% include addons/social_bar.html %}

    <!-- Body -->
    <div class="container">
        <h3>{{ page.title }}</h3>
        <div class="post-tags">
            {% include addons/tags.html %}
        </div>
        {% if page.feature != "default.png" %}
        <div class="post-feature-wrapper">
            {% if page.feature[0] == "/" %}
            <img src="{{ site.url }}{{ page.feature }}">
            {% else %}
            <img src="{{ site.url }}/assets/img/{{ page.feature }}">
            {% endif %}
        </div>
        {% endif %}
        <div class="justified content">
            {{ content }}
        </div>

        <!-- Share -->
        {% include addons/share_buttons.html %}

    </div>

    {% include footer.html %}
</body>

</html>