<!doctype html>
<html>

{% include head.html %}

<body class="black-text">
    {% include nav.html %}
    {% include sidenav.html %}
    {% include addons/social_bar.html %}

    <!-- Body -->
    <div class="container">
        {% if page.feature != "default.png" and page.feature != "" %}
        <div class="post-feature-wrapper">
            <img src="{{ site.url }}{{ page.feature }}">
        </div>
        {% endif %}
        <div class="title-container">
            <h3>{{ page.title }}</h3>
            <div class="post-tags">
                {% include addons/tags.html %}
            </div>
        </div>
        <div class="justified content">
            {{ content }}
        </div>

        <!-- Share -->
        {% include addons/share_buttons.html %}

    </div>

    {% include footer.html %}
</body>

</html>