<!doctype html>
<html>

{% include head.html %}

<body class="black-text">
    {% include nav.html %}
    {% include sidenav.html %}
    {% include addons/social_bar.html %}

    <!-- Body -->
    <div class="container">
        <h1>{{ page.title }}</h1>

        <div class="post-tags">
            {% for tag in site.tags %}
            <div class="chip">
                <a href="{{ site.url }}/tags#" class="black-text">
                    {{ tag[0] }} | {{ tag[1].size }}
                    {% if include.arrow %}
                    <i class="tag-icon material-icons">arrow_forward</i>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="justified content">
            {% for tag in site.tags %}

            {% endfor %}
        </div>

        <!-- Share -->
        {% include addons/share_buttons.html %}

    </div>

    {% include footer.html %}
</body>

</html>